.header{
    background: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.mynavbar .ui-menubar{
    padding: 0;
}
ui-menubar .ui-menubar-root-list>.ui-menuitem {
    padding: 0 15px;
    margin: 0;
}
.mynavbar .ui-menu .ui-menuitem-link{
    padding: 0 15px;
    line-height: 14px;
    font-size: 14px;
}
.mynavbar{
    display: inline-block;
}
.ui-menu .ui-menu-parent .ui-menu-child{
    background: #42426f;
}
.ui-menu .ui-menu-child .ui-menuitem-text{
    color: #fff;
}