.mynavbar .ui-menubar{
    padding: 0
}
.mynavbar .ui-menu .ui-menuitem-link{
    padding: 15px;
    line-height: 0px;
}
.nav-header{
    display: inline-block;
}
.mynavbar{
    display: inline-block;
}
.header{
    padding: 0 15px;
}
.nav-header a{
    line-height: 8px;
}
.ui-menu .ui-menu-child {
    /*padding: 10px;*/
}
.ui-menu .ui-menu-parent .ui-menu-child{
    background: #42426f;
}
.ui-menu .ui-menu-child .ui-menuitem-text{
    color: #fff;
}