.footer-row {
    background: #42426f;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.social-icon{
    text-align: right;
}
.footer-row a{
    color: #ddd;
    text-decoration: none;
}
.footer-row a:hover{
    color: #fff;
}