<div class="count_board">
    <p>some text here</p>
    <div class="ui-g">
        <div class="ui-g-3">
            <div class="numberCircle gray"><span>1</span>
            </div>
            <div class="text">some text</div>
        </div>
        <div class="ui-g-3">
            <div class="numberCircle blue"><span>20</span>
            </div>
            <div class="text">some text</div>
        </div>
        <div class="ui-g-3">
            <div class="numberCircle green"><span>300</span>
            </div>
            <div class="text">some text</div>
        </div>
        <div class="ui-g-3">
            <div class="numberCircle red"><span>300</span>
            </div>
            <div class="text">some text</div>
        </div>
    </div>
</div>