<div class="count_board">
    <p>At a glance</p>
    <div class="ui-g">
        <div class="ui-g-3">
            <div class="numberCircle gray"><span>1</span>
            </div>
            <div class="text">Open Positions</div>
        </div>
        <div class="ui-g-3">
            <div class="numberCircle blue"><span>20</span>
            </div>
            <div class="text">Positions Sourced</div>
        </div>
        <div class="ui-g-3">
            <div class="numberCircle green"><span>300</span>
            </div>
            <div class="text">Interviews This week</div>
        </div>
        <div class="ui-g-3">
            <div class="numberCircle red"><span>300</span>
            </div>
            <div class="text">Interviews Todays</div>
        </div>
    </div>
</div>