<div class="panel panel-primary">
    <div class="panel-heading" style="padding: 17px 15px;">
    Virtual Assistant <i class="fa fa-external-link" aria-hidden="true" style="float: right;
    margin-top: 4px;"></i>
    </div>
    <div class="panel-body">
        <div class="chat-body">
        <div class="grey pull-left"><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Minutes Ago</div>
        <div class="pull-right"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
        <p class="pull-left">You have 5 interview scheduled today.Here is the upcoming one</p>
        <button type="button" class="btn btn-secondary">Natalie Jones</button>
        </div>
    </div>
    <div class="panel-footer">
        <div class="input-group add-on">
            <input type="text" class="form-control" placeholder="How may i help you?" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-microphone" aria-hidden="true" style="color: #5bc0de;"></i></button>
                </div>
        </div>
        </div>
    </div>  
