.main{
    padding: 0 30px;
}
.ui-tabview .ui-tabview-panel {
    padding: 0;
}
.ui-tabview .ui-tabview-nav li a{
    width: calc(100% - 40px);
    padding: .7em 1em;
    position: relative;
    color: #000;
}
.ui-tabview .ui-tabview-nav li.ui-tabview-selected a,
.ui-tabview .ui-tabview-nav li a:hover{
    cursor: pointer;
    background: #fff;
    color: #007bff;
    box-shadow: 0 0 3px 0.5px #dfdfdf;
}
.ui-tabview .ui-tabview-nav li.ui-tabview-selected a:after,
.ui-tabview .ui-tabview-nav li a:hover:after{
    position: absolute;
    content: '';
    right: -25px;
    width: 0;
    height: 0;
    top: 0;
    border-style: solid;
    border-width: 19px 0 19px 25px;
    border-color: transparent transparent transparent #ffffff;
}
.ui-tabview-left>.ui-tabview-nav {
    height: auto;
}

h3{
    font-size: 18px;
    color: #403d3d;
}
p{
    color: #a0a0a0; 
    margin-bottom: 3px;  
}

.panel{
    margin-top: 75px;
    border:none !important;
    border-radius: 0px !important;
}
.panel-primary .panel-heading{
    background-color: #3fc34f;
    border-color: #3fc34f;
    border-radius: 0px!important;
}
.panel-footer{
     background-color: #e7eaef;
     border-top: 1px solid #e7eaef;
}

.form-control{
    border-radius: 0px;
    border-right: none;
}
.btn{
    border-radius:  0px;
    border-left: none;
}
.chat-body{
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 10px;
}
.btn-secondary{
    border-radius: 5px;
    background-color: #fff;
    border-color: #3fc34f;
    border: 1px solid #8dea99;
    color: #8dea99;
}


@media only screen and (max-width: 767px) {
    .ui-tabview-left>.ui-tabview-nav {
        float: left;
        width: 100%;
    }
    .ui-tabview-left>.ui-tabview-panels {
        width: 100%;
    }
}
