<div class="ui-g">
    <div class="ui-md-9">
        <h3>Bangalore India</h3>
        <p>June 30, 3:58 PM</p>
        <p-tabView orientation="left">
            <p-tabPanel header="Dashboard">
                <app-countbar></app-countbar>
                <app-candidate-details></app-candidate-details>
            </p-tabPanel>
            <p-tabPanel header="Calender">
                <app-countbar></app-countbar>
            </p-tabPanel>
            <p-tabPanel header="Persons">
                <app-countbar></app-countbar>  
            </p-tabPanel>
            <p-tabPanel header="Reports">
                <app-countbar></app-countbar>  
            </p-tabPanel>
        </p-tabView>
        
    </div>
    <div class="ui-md-3">
        <p-panel header="Title">
            Content
        </p-panel>
    </div>
</div>