<div class="ui-g">
    <div class="ui-md-9">
        <h3>Bangalore, India</h3>
        <p>June 30, 3:58 PM</p>
        <p-tabView orientation="left">
            <p-tabPanel header="Dashboard">
                <app-countbar></app-countbar>
                <app-candidate-details></app-candidate-details>
            </p-tabPanel>
            <p-tabPanel header="Calender">
                <app-countbar></app-countbar>
            </p-tabPanel>
            <p-tabPanel header="Persons">
                <app-countbar></app-countbar>  
            </p-tabPanel>
            <p-tabPanel header="Reports">
                <app-countbar></app-countbar>  
            </p-tabPanel>
        </p-tabView>
        
    </div>
    <div class="ui-md-3">
      <div class="panel panel-primary">
                <div class="panel-heading">
                   Virtual Assistant <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
                <div class="panel-body">

                </div>
                <div class="panel-footer">
                    <div class="input-group add-on">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                             <button class="btn btn-default" type="submit"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>  
    </div>
</div>