<div class="candidate-details">
  <div class="ui-g-6">
    <div class="white-bg">
        <div class="red" style="float:left;"><i class="fa fa-clock-o" aria-hidden="true" ></i>In 30 Minutes</div>
        <div class="grey" style="float:right;">Interview Today at 10AM</div>
        <div class="ui-g-6">
          <div class="heading">UX Designer</div>
          <p>New York</p>
        </div>
        <div class="ui-g-3">
          <p>Experience</p>
          <p>8 Years</p>
        </div>
        <div class="ui-g-3">
          <p>Maximun CTC</p>
          <p>$65,000 p.a</p>
          </div>
         <div class="table">
            <table border='1'>
              <tbody>
                <tr>
                  <td>
                    <p>3</p>
                    <p>Interviews Today</p>
                  </td>
                  <td>
                    <p>6</p>
                    <p>Cleared 2nd Round</p>
                  </td>
                  <td>
                    <p>2</p>
                    <p>New Applicants</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div> 
    <div class="grey-bg">
      <div style="float:left;">
        <p>Continue <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p>
      </div>
      <div style="float:right;">
        <p>Last Accessed 2 Minutes Ago from iPad</p>
      </div>
      </div> 
    </div>

  </div>